
.animated-border-box, .animated-border-box-glow{
    max-height: 100%;
    max-width: 100%;
    position: relative;
    overflow: hidden; 
    z-index: 0;
    border-radius: 1rem;
  }
  
  .animated-border-box{
    overflow: hidden;
    box-shadow: inset 0 0 10px 1px #a4d2f5;
    border-radius: 1rem;
  }
  
  .animated-border-box:before, .animated-border-box-glow:before {
    content: '';
    z-index: -2;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0deg);
    position: absolute;
    width: 99999px;
    height: 99999px;
    background-repeat: no-repeat;
    background-position: 0 0;
    /*border color, change middle color*/
    background-image: conic-gradient(rgba(0,0,0,0), #25d5db, rgba(0,0,0,0) 25%);
    /* change speed here */
    animation: rotate 4s linear infinite;
    border-radius: 1rem;
  }
  
  .animated-border-box:after {
      content: '';
      position: absolute;
      z-index: -1;
    /* border width */
      left: 7px;
      top: 7px;
    /* double the px from the border width left */
      width: calc(100% - 14px);
      height: calc(100% - 14px);
    /*bg color*/
      background: rgba(0,0,0,0.9);
    /*box border radius*/
      border-radius: 1rem;
  }

  .call-to-action{
    font-size: 1rem;
    color: white;
    padding: 1rem;
    min-width: 250px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 0.2rem;
    word-spacing: 0.4rem;
    margin: 0;
    width: 100%;
  }
  
  @keyframes rotate {
      100% {
          transform: translate(-50%, -50%) rotate(1turn);
      }
  }
