.skills-brief-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    min-width: 200px;
    min-height: 450px;
  }
  
  .skills-brief-image {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 1rem;
    object-fit: cover;
    z-index: 1;
  }
  
  .skills-brief-caption {
    width: 90%;
    height: 90%;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 1rem;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 8% 4%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 0 2rem 0.5rem rgba(255,255,255, 0.2);
    z-index: 2;

  }
  
  .skills-brief-heading {
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  
  .skills-brief-text {
    color: white;
    font-size: 1rem;
    text-align: center;
  }
  